*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #F5E7C6;
    background-color: #222222;
}

body {
    color: #222222;
    background-color: #F5E7C6;
    font-family: "Poppins", sans-serif;
}